@import '_null';

body {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    background: rgb(72,53,91);
    background: linear-gradient(50deg, rgba(72,53,91,1) 0%, rgba(102,109,153,1) 56%, rgba(145,190,243,1) 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.wrapper {
    width: 100%;
    min-height: 100lvh;
    overflow: hidden;
}

[class*=__container] {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    display: flex;
}

.weather__loading {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------------------------------------------------------------------------------------*/

.block-info {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 66px 70px 62px 66px;

    &__btn {
        position: absolute;
        top: 66px;
        right: 70px;
        width: 92px;
        height: 40px;
        background-color: hsla(0, 0%, 100%, 0.16);
        border-radius: 100px;
    }

    @media (max-width: 1400px) {
        &__btn {
            right: 15px;
            top: 35px;
        }
    }

    @media (max-width: 996px) {
        &__btn {
            right: -10px;
            top: 100px;
            transform: rotate(90deg);
        }

        .search-form {
            height: 100%;
            max-height: 40px;
            position: relative;
        }

        .search-input-mob {
            height: 100%;
            max-height: 40px;
            font-size: 24px;
            border-radius: 15px;
            padding-right: 40px;
        }
        .search-icon {
            padding: 5px;
            border-radius: 10px;
            top: 5px;
            right: 6px;
            width: 30px;
            height: 30px;
        }

        .search-place__place-mob {
            font-size: 24px;
        }

        .search-place__icon {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }
    }

    @media (max-width: 450px) {
        &__btn {
            right: -20px;
        }
    }

    &__icon {
        width: 100%;
        max-width: 143px;
        height: 100%;
        max-height: 380px;
        margin-bottom: 25px;
    }

    &__degrees {
        display: inline-block;
        padding-right: 46px;
        max-width: 300px;
        font-size: 164px;
        line-height: 170px;
        font-weight: 100;
        text-shadow: -5px 3px 1px rgba(0, 0, 0, 0.15);
        position: relative;
        margin-bottom: 15px;
        &::after {
            content: '째C';
            font-weight: 400;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 36px;
            width: 100%;
            max-width: 50px;
            height: 100%;
            max-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 375px) {
        &__degrees {
            font-size: 120px;
            line-height: 140px;
            &::after {
                content: '째C';
                font-size: 30px;
            }
        }
    }

    &__date {
        text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 38px;
    }

    &__other {
        display: flex;
        gap: 10px;
        font-family: 'Overpass', sans-serif;
        text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
        margin-bottom: 74px;
    }

    &__slider {
        width: 100%;
        height: 100%;
        max-height: 200px;
        position: relative;
    }
}

.block-info > form {
    display: none;
}

@media (max-width: 1400px) {
    .block-info {
        padding: 25px 15px;
    }
}

@media (max-width: 996px) {
    .block-info > form {
        display: block;
    }
}

@media (max-width: 450px) {
    .block-info__other {
        display: flex;
        flex-wrap: wrap;
        font-size: 16px;
        margin-bottom: 15px;
    }

    .block-info {
        padding: 15px 5px;
    }
}

@media (max-width: 375px) {
    .block-info__date {
        margin-bottom: 15px;
    } 
}

.block-info__degrees.repl {
    &::after {
        content: '째F';
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
        width: 100%;
        max-width: 50px;
        height: 100%;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 375px) {
        &::after {
            font-size: 30px;
        }
    }
}

.icon-weather {
    width: 100%;
    max-width: 143px;
    min-width: 140px;
    height: 100%;
}
.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    position: relative;
}
.theme-btn__f, .theme-btn__c {
    font-weight: 400;
    width: 52px;
    height: 100%;
    background-color: #ffffff00;
    border-radius: 100px;
    position: absolute;
    font-size: 24px;
}
.theme-btn__f {
    position: relative;
    padding: 6px 15px 6px 7px;
    top: 0;
    left: 0;
    
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 100%;
        border-radius: 100px;
        top: 0;
        left: 0;
        transition: all 0.5s ease 0s;
        background-color: rgba(255, 255, 255, 0.18);
    }
}

.bg {
    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 100%;
        border-radius: 100px;
        top: 0;
        left: 42px;
        background-color: rgba(255, 255, 255, 0.18);
    }
}

.theme-btn__c {
    padding: 6px 7px 6px 15px;
    top: 0;
    right: 0;
}
.theme button {
    color: #fff;
}
.degrees {
    
}

.date {
    font-size: 36px;
    margin-bottom: 20px;
}
.days-time {
    display: flex;
    align-items: center;
}

@media (max-width: 375px) {
    .date {
        font-size: 24px;
        margin-bottom: 5px;
    }
    .days-time > div {
        font-size: 18px;
    }
}

.day {
    padding-right: 20px;
    position: relative;
    margin-right: 20px;
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 16px;
        top: 10px;
        right: 0;
        background-color: #fff;
    }
}

.other-info {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 27px;
    &:not(:last-child) {
        margin-right: 30px;
    }
    &:not(:last-child):after {
        content: '';
        position: absolute;
        width: 1px;
        height: 16px;
        top: 9px;
        right: 0;
        background-color: #fff;
    }
}

.other-info__icon {
    margin: -3px 11px 0px 0px;
    width: 22px;
    height: 22px;
}

.other-info__name {
    margin-right: 20px;
}

.other-info__block {
    display: flex;
    flex-wrap: nowrap;
}

.other-info__block > span {
    white-space: nowrap;
}

@media (max-width: 1280px) {
    .other-info__block {
        width: 100%;
    }
}

/*--------------search-------------------------------------------------------------------*/

.search-block {
    width: 100%;
    max-width: 576px;
    min-height: 100%;
    padding: 36px 44px;
    background: rgb(255,255,255);
    background: linear-gradient(115deg, rgba(255,255,255, 0.3) 0%, rgba(238,237,237,0.05) 100%);
    box-shadow: -2px 0px 1px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1400px) {
    .search-block  {
        padding: 25px 15px;
    }
}

@media (max-width: 996px) {
    .search-block  {
        margin-right: -100%;
    }
}

.search {
    width: 100%;
    max-width: 505px;
    height: 100%;
    max-height: 64px;
    position: relative;
    margin-bottom: 74px;
}
.search-form {
    display: flex;
    height: 100%;
    align-items: center;
}
.search-place {
    display: none; 
    width: 100%;
    height: 100%;
    align-items: center;
    &__icon {
        width: 35px;
        height: 35px;
        margin-right: 30px;
    }
    &__place, &__place-mob {
        width: 100%;
        max-width: 380px;
        overflow: hidden;
        text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
        font-size: 32px;
    }
}
.search-place.__active {
    display: flex;
}
.search-input, .search-input-mob {
    display: flex; // none
    width: 100%;
    height: 64px;
    border-radius: 20px;
    padding: 10px 66px 10px 16px;
    background: rgb(255,255,255);
    background: linear-gradient(115deg, rgba(255,255,255, 0.4) 0%, rgba(238,237,237,0.1) 80%,  rgba(238,237,237, 0.4) 100%);
    border: 2px solid rgb(255,255,255, 0.2);
    color: #fff;
    font-size: 32px;
    font-weight: 300;
}
.search-input.__active, .search-input-mob.__active {
    display: none; // none
}

.search-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 58px;
    height: 58px;
    padding: 16px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #ffffff37;
    }
}

.search-icon.__active {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 58px;
    height: 58px;
    padding: 16px;
    background: rgb(255,255,255);
    border: 1px solid rgba(255, 255, 255, 0.308);
    background: linear-gradient(149deg, rgba(255,255,255,0.6) 0%, rgba(238,237,237,0.13) 100%);
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #ffffff37;
    }
}

/*-------clocks----------------------------------------*/

.block-clocks {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: space-between;
    gap: 60px;
    padding-bottom: 77px;
    position: relative;
    margin-bottom: 60px;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 90%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

@media (max-width: 1280px) {
    .block-clocks  {
        gap: 20px;
    }
}

.block-clocks__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -13px;
    color: #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.23);
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}
.block-clock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    &__title {
        
       
    }

    &__big {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title-big {
        white-space: nowrap;
    }
}
.block-clock > h2, .block-clock__big > h2 {
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 28px;
    font-size: 28px;
    font-weight: 300;
}
.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 105px;
    max-height: 210px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.26);
    padding: 27px 18px;
    &__big {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 130px;
        max-height: 245px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.26);
        padding: 27px 10px;
    }
}

.clock-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock-hours span {
    font-size: 18px;
}

.clock-hour {
    margin-bottom: 7px;
}

.clock__big h2 {
    font-size: 29px;
}

.clock__big img{
    width: 100%;
    max-width: 75px;
}

.clock__big .clock-arrows {
    margin-bottom: 50px;
}

.clock__big .clock-subhour {
    margin-bottom: 10px;
    font-size: 24px;
}

.clock-arrows {
    margin-bottom: 43px;
}

.clock-arrows-icon {
    width: 100%;
    max-width: 68px;
}

.clock-subhour {
    font-style: 22px;
    color: #EBEBEB;
}

/*-------block-other-----------------------------------------------------*/

.block-other {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.block-other > div h2 {
    margin-bottom: 33px;
    font-weight: 300;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
}

.air-quality {
    width: 100%;
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;

		&__title {
		}
}
.uv-index {
    width: 100%;
    max-width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;

		&__title {
		}
}

.chart {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.chart-progress {
    width: 100%;
    height: 100%;
    max-width: 190px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-progress__numbers {
    margin-top: -35px;
}

.chart-progress__numbers > span {
    display: block;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
}

/*--slider----------------------------------*/

.slide {
    width: 100%;
    height: 100%;
    min-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    padding: 16px 20px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}

//-------------------------------

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 604px;
    min-height: 200px;
    overflow: hidden;
    margin: 0 !important;
    padding-left: 20px;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
}

@media (max-width: 1280px) {
    .swiper {
        max-width: 550px;
    }
}

@media (max-width: 1200px) {
    .swiper {
        max-width: 420px;
    }
}


.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 110px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.swiper-button-next {
    margin-right: -12px;
    color: #fff !important;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .swiper-button-next {
        display: none !important;
    }
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.block-info {

    &__slider {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}

.slider-slide {
    width: 100%;
    height: 100%;
    min-width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 12px;
    padding: 16px 20px;
}
.slide-degrees {
    margin-bottom: 30px;
    position: relative;
    padding-right: 30px;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
    font-size: 24px;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
    &::after {
        content: '째C';
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        width: 100%;
        max-width: 30px;
        height: 100%;
        max-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slide-icon {
    width: 100%;
    height: 100%;
    max-width: 55px;
    max-height: 34px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.slide-icon__img {
    width: 55px;
    height: 55px;
}
.slide-day {
    font-size: 24px;
    text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
    font-weight: 400;
    font-family: "Overpass", sans-serif;
}

.slider-actions {

}

.slider-btn {
    font-size: 30px;
    background: none;
    color: #fff;
}
